@import '../../theme/variables.scss';
.input{
    align-items: center;
    display: flex;
    font-family: monospace;
    justify-content: center;
    padding: 5%;

}

input{
    border: solid $primary-color 2px;
}