.sendGift__go-back{
    padding-left: 5%;
    padding-top: 3%;

    &__link{
    font-family: $base-font;
    font-size: $back-font-size;
    text-decoration: none;
    color: rgb(162, 155, 155);
    background-color: rgba(243, 124, 21, 0.308);
    border: 1px solid rgba(243, 124, 21, 0.308);
    padding: 5px;
    border-radius: 10%;
    }
}

.loader{
    display: flex;
    justify-content: center;
    align-content: center;
}
