$base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary-color: rgb(249, 87, 13);
$card-background: rgba(243, 124, 21, 0.308);
$white: white;
$black: black;
$text-font-size: 18px;
$back-font-size: 14px;

