@import '../../theme/variables.scss';

.data-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $base-font;
  border-bottom: solid 1px $primary-color;
  padding-bottom: 5px;

  p {
    margin: 5px;
  }
  .user-label {
    flex-basis: 200px; 
    text-align: left; 
  }

  .user-data{
    background-color: $secondary-color;
    width: 200px;
    border-radius: 5px;
    text-align: center;
  }
}